# Ignore everything by default
*
# Keep essential files for the project
!.gitignore
!README.md
!LICENSE

# Keep example configuration files
!config
!config/example.s3.tfbackend
!config/example.tfvars

# Keep terraform files on root level
!*.tf
!.terraform.lock.hcl

# Keep terraform files in modules
!modules
!modules/lambda
!modules/ecs
!modules/shared
!modules/ecs/*.tf
!modules/lambda/*.tf
!modules/shared/*.tf

